/BSTSmartScholarship/bin
/BSTSmartScholarship/obj
/BSTSmartScholarship/App_Data/
/BSTSmartScholarship.Business/bin
/BSTSmartScholarship.Business/obj
/BSTSmartScholarship.DataAccess/bin
/BSTSmartScholarship.DataAccess/obj
/BSTSmartScholarship.Sketchflow/bin
/BSTSmartScholarship.Sketchflow/obj
/BSTSmartScholarship.UnitTests/bin
/BSTSmartScholarship.UnitTests/obj
*.suo
