/BSTSmartScholarship/bin
/BSTSmartScholarship/obj
/BSTSmartScholarship.Business/bin
/BSTSmartScholarship.Business/obj
/BSTSmartScholarship.DataAccess/bin
/BSTSmartScholarship.DataAccess/obj
/BSTSmartScholarship.Sketchflow/bin
/BSTSmartScholarship.Sketchflow/obj
*.suo