@model IEnumerable<BSTSmartScholarship.Business.Applicant> 

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Verify Applicants</h2>

<section class="applicants">
    @{ foreach (BSTSmartScholarship.Business.Applicant applicant in Model) {
          <section class="applicant">
              <p>@(applicant.FirstName)</p>
              <p>@(BSTSmartScholarship.Business.RegexUtility.FormatPhone(applicant.PhoneNumber))</p>
              <p>@(applicant.EmailAddress)</p>
          </section>
          }}
</section>
