@model IEnumerable<BSTSmartScholarship.Business.Applicant> 

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    $(function () {
        $('#my-dialog').dialog({
            autoOpen: false,
            width: 400,
            resizable: false,
            modal: true,
            title: "Verify Applicant"
        });
    });

    function showModal(action) {
        $('#my-dialog').load(action, function() {
            $(this).dialog('open');
        });
        return false;
    }
</script>

<h2>Verify Applicants</h2>

<section class="applicants">
    <div id="my-dialog"></div>
    @{ foreach (BSTSmartScholarship.Business.Applicant applicant in Model) {
          <section class="applicant">
              <div style="display: inline-block; max-width: 924px;">
                <p class="name">@(applicant.FirstName)</p>
                <p>@(BSTSmartScholarship.Business.RegexUtility.FormatPhone(applicant.PhoneNumber))</p>
                <p>@(applicant.EmailAddress)</p>
              </div>
              <div style="display: inline-block; float: right;">
                  @{String actionString = String.Format("\"{0}\"", Url.Action("VerifyWithRegistrar", new { sn = Model.FirstOrDefault().StudentNumber }));
                  <input type="submit" value="Verify with Registrar" onclick='showModal(@(actionString));' />}
              </div>
          </section>
          }}
</section>
