<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="AccountingSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://accounting.bstsmartscholarship.com/accounting.asmx"
                binding="basicHttpBinding" bindingConfiguration="AccountingSoap"
                contract="AccountingService.AccountingSoap" name="AccountingSoap" />
        </client>
    </system.serviceModel>
</configuration>