@{
    ViewBag.Title = "Application Confirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                Watch your email for further updates.
            </p>
        </div>
    </section>
}
