@{
    ViewBag.Title = "BST Smart Scholarship";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                Here at BST Smart Scholarship we are dedicated to helping smart young scholars pay for college.
            </p>
        </div>
    </section>
}
<h3>We suggest the following:</h3>
<ol class="round">
    <li class="one">
        <h5>Getting Started</h5>
        Click the large apply now button located to the left.
        @Html.ActionLink("Apply Now", "Apply", "Home")
    </li>

    <li class="two">
        <h5>Watch your email</h5>
        We will send you email notifications about the status of your application.
    </li>

    <li class="three">
        <h5>Apply next semester</h5>
        Even if you are awarded the scholarship this semester, you can still apply again next semester.
    </li>
</ol>
